.full-grid {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row; /* Or column, depending on your needs */
    justify-content: space-around; /* Or any flex property you want */
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .flex-item {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #d9d9d9;
  }

.card {
    background-color: #ffffff;
    border-radius: 8px;
    border-color: #000000;
    border-width: 2px;
    padding: 15px;

}